<div role="tabpanel" class="tab-pane fade" id="Pillows">
	<div class="row">
		<div class="col-md-4">
			<h3 class="product-title">Pillowcases</h3>
			<p>Our eye-catching pillowcases are made from fabric produced by artisan collectives in Bangladesh using traditional weaving techniques. The patterns feature modern designs inspired by traditional motifs.</p>
			<p>Throw and sham pillowcase pricing does not include insert.</p>
			<div class="table-responsive table-product">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Styles</th>
							<th><a href="#" data-toggle="tooltip" title="Pillow covered sized to fit standard inserts, not included unless stated">Insert Size</a></th>
							<th><a href="#" data-toggle="tooltip" title="Wholesale Price">WSP</a></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Throw</td>
							<td>20 &times; 20&rdquo;<br/>(not included)</td>
							<td><sup>$</sup>19<sup>.00</sup></td>
						</tr>
						<tr>
							<td>Standard Sham</td>
							<td>26 &times; 20&rdquo;<br/>(not included)</td>
							<td><sup>$</sup>22<sup>.00</sup></td>
						</tr>
						<tr>
							<td>Euro Sham</td>
							<td>26 &times; 26&rdquo;<br/>(not included)</td>
							<td><sup>$</sup>24<sup>.00</sup></td>
						</tr>
						<tr>
							<td>Accent Pillow</td>
							<td>12 &times; 18&rdquo;<br/>(included)</td>
							<td><sup>$</sup>21<sup>.00</sup></td>
						</tr>
					</thead>
				</table>
				<table class="table table-hover">
					<thead>
						<tr>
							<th><a href="#" data-toggle="tooltip" title="Minimum quantity of a given style required for wholesale order (can combine sizes)">Min Qty</a></th>
							<th><a href="#" data-toggle="tooltip" title="Estimated production time required after an order is confirmed">Lead Time</a></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>3 / style</td>
							<td>4 Weeks</td>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		<div class="col-md-8">

			<div class="product-collection row">

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#RASPIL">
						<img class="img-responsive" src="./src/img/pillows/RASPIL.jpg"/>
						<h4>Rasmi</h4>
					</a>
					<div class="modal fade" id="RASPIL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">RASPIL</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/pillows/RASPIL.jpg"/>
									<h3>Rasmi Pillowcovers</h3>
									<h4>Throw Pillow</h4>
									<h4>Standard Sham</h4>
									<h4>Euro Sham</h4>
									<h4>Accent Pillow</h4>
									<p>Features wide rust red stripes on color blocked bright blue and pink tones. 1.5" flange. Envelope closure.</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#KHAPIL">
						<img class="img-responsive" src="./src/img/pillows/KHAPIL.jpg"/>
						<h4>Natural Khadi</h4>
					</a>
					<div class="modal fade" id="KHAPIL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">KHAPIL</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/pillows/KHAPIL.jpg"/>
									<h3>Natural Khadi Pillowcovers</h3>
									<h4>Throw Pillow</h4>
									<h4>Standard Sham</h4>
									<h4>Euro Sham</h4>
									<h4>Accent Pillow</h4>
									<p>Features handspun khadi fabric with selvedge striping. Envelope closure.</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#IKHPIL">
						<img class="img-responsive" src="./src/img/pillows/IKHPIL.jpg"/>
						<h4>Indigo Khadi</h4>
					</a>
					<div class="modal fade" id="IKHPIL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">IKHPIL</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/pillows/IKHPIL.jpg"/>
									<h3>Indigo Khadi Pillowcovers</h3>
									<h4>Throw Pillow</h4>
									<h4>Standard Sham</h4>
									<h4>Euro Sham</h4>
									<h4>Accent Pillow</h4>
									<p>Features handspun khadi fabric that we've overdyed in natural indigo, with selvedge striping. Envelope closure.</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#LAHPIL">
						<img class="img-responsive" src="./src/img/pillows/LAHPIL.jpg"/>
						<h4>Lahar</h4>
					</a>
					<div class="modal fade" id="LAHPIL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">LAHPIL</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/pillows/LAHPIL.jpg"/>
									<h3>Lahar Pillowcovers</h3>
									<h4>Throw Pillow</h4>
									<h4>Standard Sham</h4>
									<h4>Euro Sham</h4>
									<h4>Accent Pillow</h4>
									<p>Features dobby pom-pom detailing on a bright blue field. 1.5" flange. Envelope closure.</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#JAMPIL">
						<img class="img-responsive" src="./src/img/pillows/JAMPIL.jpg"/>
						<h4>Jami</h4>
					</a>
					<div class="modal fade" id="JAMPIL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">JAMPIL</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/pillows/JAMPIL.jpg"/>
									<h3>Jami Pillowcovers</h3>
									<h4>Throw Pillow</h4>
									<h4>Standard Sham</h4>
									<h4>Euro Sham</h4>
									<h4>Accent Pillow</h4>
									<p>Features dobby pom-pom detailing on a color blocked field of rust red tones. 1.5" flange. Envelope closure.</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#KLAPIL">
						<img class="img-responsive" src="./src/img/pillows/KLAPIL.jpg"/>
						<h4>Khala</h4>
					</a>
					<div class="modal fade" id="KLAPIL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">KLAPIL</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/pillows/KLAPIL.jpg"/>
									<h3>Khala Pillowcovers</h3>
									<h4>Throw Pillow</h4>
									<h4>Standard Sham</h4>
									<h4>Euro Sham</h4>
									<h4>Accent Pillow</h4>
									<p>Features wide stripes in muted citron and dark hunter tones on an ecru field. 1.5" flange. Envelope closure.</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#HOUPIL">
						<img class="img-responsive" src="./src/img/pillows/HOUPIL.jpg"/>
						<h4>B&amp;W Houndstooth</h4>
					</a>
					<div class="modal fade" id="HOUPIL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">HOUPIL</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/pillows/HOUPIL.jpg"/>
									<h3>B&amp;W Houndstooth Pillowcovers</h3>
									<h4>Throw Pillow</h4>
									<h4>Standard Sham</h4>
									<h4>Euro Sham</h4>
									<h4>Accent Pillow</h4>
									<p>Features black and white houndstooth pattern in alternating directions. Envelope closure.</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#BANPIL">
						<img class="img-responsive" src="./src/img/pillows/BANPIL.jpg"/>
						<h4>Bandarban Accent</h4>
					</a>
					<div class="modal fade" id="BANPIL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">BANPIL</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/pillows/BANPIL.jpg"/>
									<h3>Bandarban Accent Pillows</h3>
									<h4>Accent Pillow</h4>
									<p>Ribbed cotton accent pillow featuring fringed edges. Chambray red stripes on a blue field.</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#SUNPIL">
						<img class="img-responsive" src="./src/img/pillows/SUNPIL.jpg"/>
						<h4>Sundarban Accent</h4>
					</a>
					<div class="modal fade" id="SUNPIL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">SUNPIL</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/pillows/SUNPIL.jpg"/>
									<h3>Sundarban Accent Pillows</h3>
									<h4>Accent Pillow</h4>
									<p>Ribbed cotton accent pillow featuring fringed edges. Chambray stripes on a natural field.</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>