<div role="tabpanel" class="tab-pane fade" id="Bags">
	<div class="row">
		<div class="col-md-4">
			<h3 class="product-title">Bags</h3>
			<h4>Canvas Johla Market Bag</h4>
			<p>Your go-to bag can never be too big. Perfect for beach balls, picnic blankets, and dainty dogs. Sturdy, un-dyed cotton-canvas with a leather handle.</p>
			<h4>Field Backpack</h4>
			<p>Combining soft leathers, crisp canvas, and funky houndstooth interiors, our backpacks are perfect for quick errands around town. Featuring solid brass hardware and buckle closures. Adjustable straps with racerback attachment.</p>
			<p>Designed in Brooklyn. Canvas is handwoven from 100% cotton in Bangladesh.</p>
			<div class="table-responsive table-product">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Styles</th>
							<th></th>
							<th><a href="#" data-toggle="tooltip" title="Wholesale Price">WSP</a></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Canvas Johla Bag</td>
							<td>One Size</td>
							<td><sup>$</sup>27<sup>.50</sup></td>
						</tr>
						<tr>
							<td>Field Backpack</td>
							<td>One Size</td>
							<td><sup>$</sup>62<sup>.50</sup></td>
						</tr>
					</thead>
				</table>
				<table class="table table-hover">
					<thead>
						<tr>
							<th><a href="#" data-toggle="tooltip" title="Minimum quantity of a given style required for wholesale order (can combine sizes)">Min Qty</a></th>
							<th><a href="#" data-toggle="tooltip" title="Estimated production time required after an order is confirmed">Lead Time</a></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>3 / style</td>
							<td>8 Weeks</td>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		<div class="col-md-8">
			<div class="product-collection row">

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#NATJOH">
						<img class="img-responsive" src="./src/img/bags/NATJOH.jpg"/>
						<h4>Canvas Johla Market Bag</h4>
					</a>
					<div class="modal fade" id="NATJOH" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">NATJOH</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/bags/NATJOH.jpg"/>
									<h3>Canvas Johla Market Bag</h3>
									<p>Your go-to bag can never be too big. Perfect for beach balls, picnic blankets, and dainty dogs. Sturdy, un-dyed cotton-canvas with a leather handle.</p>
									<p>Made from custom-tanned leather and handwoven 100% cotton canvas.</p>
									<p>Width — 24"</p>
									<p>Height — 32" to handle</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#NATFBP">
						<img class="img-responsive" src="./src/img/bags/NATFBP.jpg"/>
						<h4>Natural Canvas Field Backpack</h4>
					</a>
					<div class="modal fade" id="NATFBP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">NATFBP</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/bags/NATFBP.jpg"/>
									<h3>Natural Canvas Field Backpack</h3>
									<p>Our Field Backpack has one main compartment with a cinched bucket-bag closure and two exterior front pockets. The leather has a smooth top finish and a clean grain that will develop a rich patina over time. The backpack has brass hardware throughout with adjustable-length back straps.</p>
									<p>Made from custom-tanned leather and handwoven 100% cotton canvas.</p>
									<p>16" Height, 13" Width, 6" Depth. Adjustable shoulder strap.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#HUNFBP">
						<img class="img-responsive img-flip" src="./src/img/bags/HUNFBP.jpg"/>
						<h4>Hunter Canvas Field Backpack</h4>
					</a>
					<div class="modal fade" id="HUNFBP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">HUNFBP</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive img-flip" src="./src/img/bags/HUNFBP.jpg"/>
									<h3>Hunter Canvas Field Backpack</h3>
									<p>Our Field Backpack has one main compartment with a cinched bucket-bag closure and two exterior front pockets. The leather has a smooth top finish and a clean grain that will develop a rich patina over time. The backpack has brass hardware throughout with adjustable-length back straps.</p>
									<p>Made from custom-tanned leather and handwoven 100% cotton canvas.</p>
									<p>16" Height, 13" Width, 6" Depth. Adjustable shoulder strap.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h3 class="product-title">Pencil Pouches</h3>
			<h4>Canvas Johla Market Bag</h4>
			<p>Your go-to bag can never be too big. Perfect for beach balls, picnic blankets, and dainty dogs. Sturdy, un-dyed cotton-canvas with a leather handle.</p>
			<div class="table-responsive table-product">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Style</th>
							<th></th>
							<th><a href="#" data-toggle="tooltip" title="Wholesale Price">WSP</a></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Canvas Pencil Pouch</td>
							<td>One Size</td>
							<td><sup>$</sup>9<sup>.00</sup></td>
						</tr>
					</thead>
				</table>
				<table class="table table-hover">
					<thead>
						<tr>
							<th><a href="#" data-toggle="tooltip" title="Minimum quantity of a given style required for wholesale order (can combine sizes)">Min Qty</a></th>
							<th><a href="#" data-toggle="tooltip" title="Estimated production time required after an order is confirmed">Lead Time</a></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>3 / style</td>
							<td>8 Weeks</td>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		<div class="col-md-8">
			<div class="product-collection row">

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#NATPEN">
						<img class="img-responsive" src="./src/img/bags/NATPEN.jpg"/>
						<h4>Canvas Pencil Pouch</h4>
					</a>
					<div class="modal fade" id="NATPEN" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">NATPEN</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/bags/NATPEN.jpg"/>
									<h3>Canvas Pencil Pouch</h3>
									<p>Your go-to bag can never be too big. Perfect for beach balls, picnic blankets, and dainty dogs. Sturdy, un-dyed cotton-canvas with a leather handle.</p>
									<p>Made from custom-tanned leather and handwoven 100% cotton canvas.</p>
									<p>Width — 24"</p>
									<p>Height — 32" to handle</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#NATFBP">
						<img class="img-responsive" src="./src/img/bags/NATFBP.jpg"/>
						<h4>Pink Rasmi Pencil Pouch</h4>
					</a>
					<div class="modal fade" id="NATFBP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">NATFBP</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/bags/NATFBP.jpg"/>
									<h3>Pink Rasmi Pencil Pouch</h3>
									<p>Our Field Backpack has one main compartment with a cinched bucket-bag closure and two exterior front pockets. The leather has a smooth top finish and a clean grain that will develop a rich patina over time. The backpack has brass hardware throughout with adjustable-length back straps.</p>
									<p>Made from custom-tanned leather and handwoven 100% cotton canvas.</p>
									<p>16" Height, 13" Width, 6" Depth. Adjustable shoulder strap.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#RABPEN">
						<img class="img-responsive" src="./src/img/bags/RABPEN.jpg"/>
						<h4>Blue Rasmi Pencil Pouch</h4>
					</a>
					<div class="modal fade" id="RABPEN" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">RABPEN</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/bags/RABPEN.jpg"/>
									<h3>Blue Rasmi Pencil Pouch</h3>
									<p>Our Field Backpack has one main compartment with a cinched bucket-bag closure and two exterior front pockets. The leather has a smooth top finish and a clean grain that will develop a rich patina over time. The backpack has brass hardware throughout with adjustable-length back straps.</p>
									<p>Made from custom-tanned leather and handwoven 100% cotton canvas.</p>
									<p>16" Height, 13" Width, 6" Depth. Adjustable shoulder strap.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
