<div role="tabpanel" class="tab-pane fade in active" id="Bedding">
	<div class="row">
		<div class="col-md-4">
			<h3 class="product-title">Coverlets</h3>
			<h4>Our coverlets are weighty enough to keep you warm, but way crisper than your winter woolens. Use as a lightweight cover in warmer months or as a vibrant layering piece in cooler ones.</h4>
			<p>Designed in San Francisco &amp; Brooklyn. Handwoven from 100% cotton in Bangladesh.</p>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Sizes</th>
							<th></th>
							<th><a href="#" data-toggle="tooltip" title="Wholesale Price">WSP</a></th>
							<th><a href="#" data-toggle="tooltip" title="Recommended Retail Price">RRP</a></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="td-siz">Twin</td>
							<td>88 x 68"</td>
							<td>$52.50</td>
							<td>$105</td>
						</tr>
						<tr>
							<td class="td-siz">Full/Queen</td>
							<td>90 x 94"</td>
							<td>$57.50</td>
							<td>$115</td>
						</tr>
						<tr>
							<td class="td-siz">King</td>
							<td>94 x 106"</td>
							<td>$62.50</td>
							<td>$125</td>
						</tr>
					</thead>
				</table>
				<table class="table table-hover">
					<thead>
						<tr>
							<th><a href="#" data-toggle="tooltip" title="Minimum quantity of a given style required for wholesale order (can combine sizes)">Min Qty</a></th>
							<th><a href="#" data-toggle="tooltip" title="Estimated production time required after an order is confirmed">Lead Time</a></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>3 / style</td>
							<td>8 Weeks</td>
						</tr>
					</thead>
				</table>
			</div>	
		</div>
		<div class="col-md-8">
			<div data-accent_color="767676" data-background_color="ffffff" data-button_background_color="7fb466" data-button_text_color="ffffff" data-cart_button_text="Cart" data-cart_title="Order Request" data-cart_total_text="Total" data-checkout_button_text="Place Request" data-discount_notice_text="Shipping and discount codes are added at checkout." data-embed_type="cart" data-empty_cart_text="Your cart is empty." data-shop="new-market-goods.myshopify.com" data-sticky="true" data-text_color="000000"></div>
			<div data-background_color="ffffff" data-button_background_color="7fb466" data-button_text_color="ffffff" data-buy_button_out_of_stock_text="Out of Stock" data-buy_button_product_unavailable_text="Unavailable" data-buy_button_text="Add" data-collection_handle="wholesale" data-display_size="compact" data-embed_type="collection" data-has_image="true" data-next_page_button_text="Next page" data-product_handle="" data-product_modal="true" data-product_name="" data-product_title_color="000000" data-redirect_to="modal" data-shop="new-market-goods.myshopify.com"></div>
			<script type="text/javascript">document.getElementById('ShopifyEmbedScript') || document.write('<script type="text/javascript" src="https://widgets.shopifyapps.com/assets/widgets/embed/client.js" id="ShopifyEmbedScript"><\/script>');</script>
		</div>
		<!-- <div class="col-md-4">
			<h3 class="product-title">Quilts</h3>
			<p>Designed in Brooklyn. Handwoven from 100% cotton in Bangladesh.</p>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Sizes</th>
							<th></th>
							<th><a href="#" data-toggle="tooltip" title="Wholesale Price">WSP</a></th>
							<th><a href="#" data-toggle="tooltip" title="Recommended Retail Price">RRP</a></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="td-siz">Twin</td>
							<td>86 x 68"</td>
							<td>$80</td>
							<td>$160</td>
						</tr>
						<tr>
							<td class="td-siz">Full/Queen</td>
							<td>86 x 92"</td>
							<td>$85</td>
							<td>$170</td>
						</tr>
						<tr>
							<td class="td-siz">King</td>
							<td>92 x 100"</td>
							<td>$90</td>
							<td>$180</td>
						</tr>
					</thead>
				</table>
				<table class="table table-hover">
					<thead>
						<tr>
							<th><a href="#" data-toggle="tooltip" title="Minimum quantity of a given style required for wholesale order (can combine sizes)">Min Qty</a></th>
							<th><a href="#" data-toggle="tooltip" title="Estimated production time required after an order is confirmed">Lead Time</a></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>2 / style</td>
							<td>8 Weeks</td>
						</tr>
					</thead>
				</table>
			</div>
		</div> 
		<div class="col-md-8">
			<div data-accent_color="767676" data-background_color="ffffff" data-button_background_color="7fb466" data-button_text_color="ffffff" data-cart_button_text="Cart" data-cart_title="Order Request" data-cart_total_text="Total" data-checkout_button_text="Place Request" data-discount_notice_text="Shipping and discount codes are added at checkout." data-embed_type="cart" data-empty_cart_text="Your cart is empty." data-shop="new-market-goods.myshopify.com" data-sticky="true" data-text_color="000000"></div>
			<div data-background_color="ffffff" data-button_background_color="7fb466" data-button_text_color="ffffff" data-buy_button_out_of_stock_text="Out of Stock" data-buy_button_product_unavailable_text="Unavailable" data-buy_button_text="Add" data-collection_handle="wholesale-quilts" data-display_size="compact" data-embed_type="collection" data-has_image="true" data-next_page_button_text="Next page" data-product_handle="" data-product_modal="true" data-product_name="" data-product_title_color="000000" data-redirect_to="modal" data-shop="new-market-goods.myshopify.com"></div>
			<script type="text/javascript">document.getElementById('ShopifyEmbedScript') || document.write('<script type="text/javascript" src="https://widgets.shopifyapps.com/assets/widgets/embed/client.js" id="ShopifyEmbedScript"><\/script>');</script>
		</div> -->
	</div>
</div>
