<div role="tabpanel" class="tab-pane fade" id="Pillows">
	<div class="row">
		<div class="col-md-4">
			<h3 class="product-title">Pillowcases</h3>
			<h4>Our eye-catching, accent pillowcases are made from fabric produced by artisan collectives in Bangladesh, using traditional weaving techniques. The patterns feature modern designs inspired by traditional motifs.</h4>
			<p>Throw and standard sham pillowcases pricing does not include insert an insert. Designed in San Francisco. Handwoven from 100% cotton in Bangladesh.</p>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Styles</th>
							<th></th>
							<th><a href="#" data-toggle="tooltip" title="Wholesale Price">WSP</a></th>
							<th><a href="#" data-toggle="tooltip" title="Recommended Retail Price">RRP</a></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="td-siz">Throw</td>
							<td>Fits 20 x 20" insert (not included)</td>
							<td>$19</td>
							<td>$38</td>
						</tr>
						<tr>
							<td class="td-siz">Standard Sham</td>
							<td>Fits 26 x 20" insert (not included)</td>
							<td>$22</td>
							<td>$44</td>
						</tr>
						<tr>
							<td class="td-siz">Euro Sham</td>
							<td>Fits 26 x 26" insert (not included)</td>
							<td>$24</td>
							<td>$48</td>
						</tr>
						<tr>
							<td class="td-siz">Accent Pillow</td>
							<td>12 x 18" (insert included)</td>
							<td>$21</td>
							<td>$42</td>
						</tr>
					</thead>
				</table>
				<table class="table table-hover">
					<thead>
						<tr>
							<th><a href="#" data-toggle="tooltip" title="Minimum quantity of a given style required for wholesale order (can combine sizes)">Min Qty</a></th>
							<th><a href="#" data-toggle="tooltip" title="Estimated production time required after an order is confirmed">Lead Time</a></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>3 / style</td>
							<td>4 Weeks</td>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		<div class="col-md-8">

			<div class="product-collection row">

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#RASPIL">
						<img class="img-responsive" src="./src/img/pillows/RASPIL.jpg"/>
						<h4>Rasmi</h4>
					</a>
					<div class="modal fade" id="RASPIL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h5 class="modal-title" id="myModalLabel">RASPIL</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/coverlets/RASPIL.jpg"/>
									<h3>Rasmi Pillowcovers</h3>
									<h4>Throw Pillow &#183; Standard Sham &#183; Euro Sham &#183; Accent Pillow</h4>
									<p>...</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#KHAPIL">
						<img class="img-responsive" src="./src/img/pillows/KHAPIL.jpg"/>
						<h4>Natural Khadi</h4>
					</a>
					<div class="modal fade" id="KHAPIL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h5 class="modal-title" id="myModalLabel">KHAPIL</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/coverlets/KHAPIL.jpg"/>
									<h3>Natural Khadi Pillowcovers</h3>
									<h4>Throw Pillow &#183; Standard Sham &#183; Euro Sham &#183; Accent Pillow</h4>
									<p>...</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#IKHPIL">
						<img class="img-responsive" src="./src/img/pillows/IKHPIL.jpg"/>
						<h4>Indigo Khadi</h4>
					</a>
					<div class="modal fade" id="IKHPIL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h5 class="modal-title" id="myModalLabel">IKHPIL</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/coverlets/IKHPIL.jpg"/>
									<h3>Indigo Khadi Pillowcovers</h3>
									<h4>Throw Pillow &#183; Standard Sham &#183; Euro Sham &#183; Accent Pillow</h4>
									<p>...</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#LAHPIL">
						<img class="img-responsive" src="./src/img/pillows/LAHPIL.jpg"/>
						<h4>Lahar</h4>
					</a>
					<div class="modal fade" id="LAHPIL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h5 class="modal-title" id="myModalLabel">LAHPIL</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/coverlets/LAHPIL.jpg"/>
									<h3>Lahar Pillowcovers</h3>
									<h4>Throw Pillow &#183; Standard Sham &#183; Euro Sham &#183; Accent Pillow</h4>
									<p>...</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#JAMPIL">
						<img class="img-responsive" src="./src/img/pillows/JAMPIL.jpg"/>
						<h4>Jami</h4>
					</a>
					<div class="modal fade" id="JAMPIL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h5 class="modal-title" id="myModalLabel">JAMPIL</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/coverlets/JAMPIL.jpg"/>
									<h3>Jami Pillowcovers</h3>
									<h4>Throw Pillow &#183; Standard Sham &#183; Euro Sham &#183; Accent Pillow</h4>
									<p>...</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#KLAPIL">
						<img class="img-responsive" src="./src/img/pillows/KLAPIL.jpg"/>
						<h4>Khala</h4>
					</a>
					<div class="modal fade" id="KLAPIL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h5 class="modal-title" id="myModalLabel">KLAPIL</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/coverlets/KLAPIL.jpg"/>
									<h3>Khala Pillowcovers</h3>
									<h4>Throw Pillow &#183; Standard Sham &#183; Euro Sham &#183; Accent Pillow</h4>
									<p>...</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#HOUPIL">
						<img class="img-responsive" src="./src/img/pillows/HOUPIL.jpg"/>
						<h4>B&amp;W Houndstooth</h4>
					</a>
					<div class="modal fade" id="HOUPIL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h5 class="modal-title" id="myModalLabel">HOUPIL</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/coverlets/HOUPIL.jpg"/>
									<h3>B&amp;W Houndstooth Pillowcovers</h3>
									<h4>Throw Pillow &#183; Standard Sham &#183; Euro Sham &#183; Accent Pillow</h4>
									<p>...</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div data-accent_color="767676" data-background_color="ffffff" data-button_background_color="7fb466" data-button_text_color="ffffff" data-cart_button_text="Cart" data-cart_title="Order Request" data-cart_total_text="Total" data-checkout_button_text="Place Request" data-discount_notice_text="Shipping and discount codes are added at checkout." data-embed_type="cart" data-empty_cart_text="Your cart is empty." data-shop="new-market-goods.myshopify.com" data-sticky="true" data-text_color="000000"></div>
			<div data-background_color="ffffff" data-button_background_color="7fb466" data-button_text_color="ffffff" data-buy_button_out_of_stock_text="Out of Stock" data-buy_button_product_unavailable_text="Unavailable" data-buy_button_text="Add" data-collection_handle="wholesale-pillows" data-display_size="compact" data-embed_type="collection" data-has_image="true" data-next_page_button_text="Next page" data-product_handle="" data-product_modal="true" data-product_name="" data-product_title_color="000000" data-redirect_to="modal" data-shop="new-market-goods.myshopify.com"></div>
			<script type="text/javascript">document.getElementById('ShopifyEmbedScript') || document.write('<script type="text/javascript" src="https://widgets.shopifyapps.com/assets/widgets/embed/client.js" id="ShopifyEmbedScript"><\/script>');</script>
		</div>
	</div>
</div>