<div role="tabpanel" class="tab-pane fade in active" id="Bedding">

	<!-- COVERLETS -->
	<div class="row">
		<div class="col-md-4">
			<h3 class="product-title">Coverlets</h3>
			<p>Our coverlets are weighty enough to keep you warm, but way crisper than your winter woolens. Use as a lightweight cover in warmer months or as a vibrant layering piece in cooler ones.</p>
			<p>Designed in San Francisco &amp; Brooklyn. Handwoven from 100% cotton in Bangladesh.</p>
			<div class="table-responsive table-product">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Sizes</th>
							<th></th>
							<th><a href="#" data-toggle="tooltip" title="Wholesale Price">WSP</a></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Twin</td>
							<td>88 &times; 68&rdquo;</td>
							<td><sup>$</sup>52<sup>.50</sup></td>
						</tr>
						<tr>
							<td>Full/Queen</td>
							<td>90 &times; 94&rdquo;</td>
							<td><sup>$</sup>57<sup>.50</sup></td>
						</tr>
						<tr>
							<td>King</td>
							<td>94 &times; 106&rdquo;</td>
							<td><sup>$</sup>62<sup>.50</sup></td>
						</tr>
					</thead>
				</table>
				<table class="table table-hover">
					<thead>
						<tr>
							<th><a href="#" data-toggle="tooltip" title="Minimum quantity of a given style required for wholesale order (can combine sizes)">Min Qty</a></th>
							<th><a href="#" data-toggle="tooltip" title="Estimated production time required after an order is confirmed">Lead Time</a></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>3 / style</td>
							<td>8 Weeks</td>
						</tr>
					</thead>
				</table>
			</div>	
		</div>

		<div class="col-md-8">
			<div class="product-collection row">

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#CHICOV">
						<img class="img-responsive" src="./src/img/bedcovers/CHICOV.jpg"/>
						<h4>Chittagong</h4>
					</a>
					<div class="modal fade" id="CHICOV" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">CHICOV</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/bedcovers/CHICOV.jpg"/>
									<h3>Chittagong Bedcover</h3>
									<h4>Coverlet</h4>
									<p>Evergreen with white windowpane check. Coverlet features tassels and selvedge finishes.</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#PADCOV">
						<img class="img-responsive" src="./src/img/bedcovers/PADCOV.jpg"/>
						<h4>Padma</h4>
					</a>
					<div class="modal fade" id="PADCOV" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">PADCOV</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/bedcovers/PADCOV.jpg"/>
									<h3>Padma Bedcover</h3>
									<h4>Coverlet</h4>
									<p>Graphic wide stripe in ecru and magenta. Coverlet features tassels and selvedge finishes.</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#PUKCOV">
						<img class="img-responsive" src="./src/img/bedcovers/PUKCOV.jpg"/>
						<h4>Pukura</h4>
					</a>
					<div class="modal fade" id="PUKCOV" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">PUKCOV</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/bedcovers/PUKCOV.jpg"/>
									<h3>Pukura Bedcover</h3>
									<h4>Coverlet</h4>
									<p>Graphic wide check over color blocked navy and indigo. Coverlet features tassels and selvedge finishes.</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#RASCOV">
						<img class="img-responsive" src="./src/img/bedcovers/RASCOV.jpg"/>
						<h4>Rasmi</h4>
					</a>
					<div class="modal fade" id="RASCOV" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">RASCOV</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/bedcovers/RASCOV.jpg"/>
									<h3>Rasmi Bedcover</h3>
									<h4>Coverlet</h4>
									<p>Graphic wide stripes in vibrant red-orange on color blocked pale pink and light blue. Coverlet features tassels and selvedge finishes.</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#LAHCOV">
						<img class="img-responsive" src="./src/img/bedcovers/LAHCOV.jpg"/>
						<h4>Lahar</h4>
					</a>
					<div class="modal fade" id="LAHCOV" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">LAHCOV</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/bedcovers/LAHCOV.jpg"/>
									<h3>Lahar Bedcover</h3>
									<h4>Coverlet</h4>
									<p>Bold blue with reversible, natural cotton dobby ticking details. Coverlet features tassels and selvedge finishes.</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#KLACOV">
						<img class="img-responsive" src="./src/img/bedcovers/KLACOV.jpg"/>
						<h4>Khala</h4>
					</a>
					<div class="modal fade" id="KLACOV" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">KLACOV</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/bedcovers/KLACOV.jpg"/>
									<h3>Khala Bedcover</h3>
									<h4>Coverlet</h4>
									<p>Wide stripes in muted citron and dark hunter tones on an ecru field. Coverlet features tassels and selvedge finishes.</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#KONCOV">
						<img class="img-responsive" src="./src/img/bedcovers/KONCOV.jpg"/>
						<h4>Kona</h4>
					</a>
					<div class="modal fade" id="KONCOV" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">KONCOV</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/bedcovers/KONCOV.jpg"/>
									<h3>Kona Bedcover</h3>
									<h4>Coverlet</h4>
									<p>Pale blue with navy and gray color blocked edges. Coverlet features tassels and selvedge finishes.</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#DORCOV">
						<img class="img-responsive" src="./src/img/bedcovers/DORCOV.jpg"/>
						<h4>Dora</h4>
					</a>
					<div class="modal fade" id="DORCOV" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">DORCOV</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/bedcovers/DORCOV.jpg"/>
									<h3>Dora Bedcover</h3>
									<h4>Coverlet</h4>
									<p>Graphic wide stripes in vibrant orange on color blocked indigo and purple. Coverlet features tassels and selvedge finishes.</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- QUILTS -->
	<!-- <div class="row">
		<div class="col-md-4">
			<h3 class="product-title">Quilts</h3>
			<p>Designed in Brooklyn. Handwoven from 100% cotton in Bangladesh.</p>
			<div class="table-responsive table-product">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Style</th>
							<th>Size</th>
							<th></th>
							<th><a href="#" data-toggle="tooltip" title="Wholesale Price">WSP</a></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Quilt</td>
							<td>45 &times; 60&rdquo;</td>
							<td></td>
							<td><sup>$</sup>90<sup>.00</sup></td>
						</tr>
					</thead>
				</table>
				<table class="table table-hover">
					<thead>
						<tr>
							<th><a href="#" data-toggle="tooltip" title="Minimum quantity of a given style required for wholesale order (can combine sizes)">Min Qty</a></th>
							<th><a href="#" data-toggle="tooltip" title="Estimated production time required after an order is confirmed">Lead Time</a></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>2 / style</td>
							<td>8 Weeks</td>
						</tr>
					</thead>
				</table>
			</div>	
		</div>

		<div class="col-md-8">
			<div class="product-collection row">

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#IMAQLT">
						<img class="img-responsive" src="./src/img/bedcovers/IMAQLT.jpg"/>
						<h4>Indigo Malibagh Patchwork</h4>
					</a>
					<div class="modal fade" id="IMAQLT" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">IMAQLT</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/bedcovers/IMAQLT.jpg"/>
									<h3>Indigo Malibagh Patchwork Quilt</h3>
									<h4>45 &times; 60&rdquo;</h4>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div> -->

</div>
