<div role="tabpanel" class="tab-pane fade" id="Tabletop">

	<!-- NAPKINS & PLACEMATS -->
	<div class="row">
		<div class="col-md-4">
			<h3 class="product-title">Napkins &amp; Placemats</h3>
			<p>Add some texture to your table with our cotton napkins and placemats, featuring fringe and selvedge details. Grab matching pairs, or mix it up!</p>
			<p>Designed in San Francisco &amp; Brooklyn. Handwoven from 100% cotton in Bangladesh.</p>
			<div class="table-responsive table-product">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Styles</th>
							<th></th>
							<th><a href="#" data-toggle="tooltip" title="Wholesale Price">WSP</a></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Napkins (pair)</td>
							<td>18 &times; 18&rdquo;</td>
							<td><sup>$</sup>12<sup>.00</sup></td>
						</tr>
						<tr>
							<td>Placemats (pair)</td>
							<td>14 &times; 19&rdquo;</td>
							<td><sup>$</sup>14<sup>.00</sup></td>
						</tr>
					</thead>
				</table>
				<table class="table table-hover">
					<thead>
						<tr>
							<th><a href="#" data-toggle="tooltip" title="Minimum quantity of a given style required for wholesale order (can combine sizes)">Min Qty</a></th>
							<th><a href="#" data-toggle="tooltip" title="Estimated production time required after an order is confirmed">Lead Time</a></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>4 / style</td>
							<td>4 Weeks</td>
						</tr>
					</thead>
				</table>
			</div>		
		</div>
		
		<div class="col-md-8">
			<div class="product-collection row">

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#CHINAP">
						<img class="img-responsive" src="./src/img/dining/CHINAP.jpg"/>
						<h4>Chittagong Napkins</h4>
					</a>
					<div class="modal fade" id="CHINAP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">CHINAP</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/dining/CHINAP.jpg"/>
									<h3>Chittagong Napkins</h3>
									<p>Handwoven cotton napkins featuring fringed edges. Evergreen and ecru windowpane check. Designed in Brooklyn.</p>
									<p>Set of two, napkin ring not included.</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#CHIPLC">
						<img class="img-responsive" src="./src/img/dining/CHIPLC.jpg"/>
						<h4>Chittagong Placemats</h4>
					</a>
					<div class="modal fade" id="CHIPLC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">CHIPLC</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/dining/CHIPLC.jpg"/>
									<h3>Chittagong Placemats</h3>
									<p>Evergreen and ecru wide stripe. Handwoven ribbed cotton placemats featuring fringed edges.<p/>
									<p>Set of two.<p/>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#MEGNAP">
						<img class="img-responsive" src="./src/img/dining/MEGNAP.jpg"/>
						<h4>Meghna Napkins</h4>
					</a>
					<div class="modal fade" id="MEGNAP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">MEGNAP</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/dining/MEGNAP.jpg"/>
									<h3>Meghna Napkins</h3>
									<p>Handwoven cotton napkins featuring fringed edges. Natural field with white stripe. Designed in Brooklyn.</p>
									<p>Set of two, napkin ring not included.</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#PADPLC">
						<img class="img-responsive" src="./src/img/dining/PADPLC.jpg"/>
						<h4>Padma Placemats</h4>
					</a>
					<div class="modal fade" id="PADPLC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">PADPLC</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/dining/PADPLC.jpg"/>
									<h3>Padma Placemats</h3>
									<p>Handwoven ribbed cotton placemats featuring fringed edges.<p/>
									<p>Set of two.<p/>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#BALNAP">
						<img class="img-responsive" src="./src/img/dining/BALNAP.jpg"/>
						<h4>Bali Napkins</h4>
					</a>
					<div class="modal fade" id="BALNAP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">BALNAP</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/dining/BALNAP.jpg"/>
									<h3>Bali Napkins</h3>
									<p>Handwoven cotton napkins featuring fringed edges. Natural field with white stripe. Designed in Brooklyn.</p>
									<p>Set of two, napkin ring not included.</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#BALPLC">
						<img class="img-responsive" src="./src/img/dining/BALPLC.jpg"/>
						<h4>Bali Placemats</h4>
					</a>
					<div class="modal fade" id="BALPLC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">BALPLC</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/dining/BALPLC.jpg"/>
									<h3>Bali Placemats</h3>
									<p>Handwoven ribbed cotton placemats featuring fringed edges.<p/>
									<p>Set of two.<p/>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#BADPLC">
						<img class="img-responsive" src="./src/img/dining/BADPLC.jpg"/>
						<h4>Dark Bali Placemats</h4>
					</a>
					<div class="modal fade" id="BADPLC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">BADPLC</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/dining/BADPLC.jpg"/>
									<h3>Dark Bali Placemats</h3>
									<p>Handwoven ribbed cotton placemats featuring fringed edges.<p/>
									<p>Set of two.<p/>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#RASNAP">
						<img class="img-responsive" src="./src/img/dining/RASNAP.jpg"/>
						<h4>Rasmi Napkins</h4>
					</a>
					<div class="modal fade" id="RASNAP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">RASNAP</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/dining/RASNAP.jpg"/>
									<h3>Rasmi Napkins</h3>
									<p>Handwoven cotton napkins featuring fringed edges. Color-blocked baby blue, pink, and red tones. Designed in Brooklyn.</p>
									<p>Set of two, napkin ring not included.</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#SUNNAP">
						<img class="img-responsive" src="./src/img/dining/SUNNAP.jpg"/>
						<h4>Sundarban Napkins</h4>
					</a>
					<div class="modal fade" id="SUNNAP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">SUNNAP</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/dining/SUNNAP.jpg"/>
									<h3>Sundarban Napkins</h3>
									<p>Handwoven cotton napkins featuring fringed edges. Chambray red stripes on a blue field. Designed in San Francisco.</p>
									<p>Set of two, napkin ring not included.</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#SUNPLC">
						<img class="img-responsive" src="./src/img/dining/SUNPLC.jpg"/>
						<h4>Sundarban Placemats</h4>
					</a>
					<div class="modal fade" id="SUNPLC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">SUNPLC</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/dining/SUNPLC.jpg"/>
									<h3>Sundarban Placemats</h3>
									<p>Handwoven ribbed cotton placemats featuring fringed edges.<p/>
									<p>Set of two.<p/>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#LAHNAP">
						<img class="img-responsive" src="./src/img/dining/LAHNAP.jpg"/>
						<h4>Lahar Napkins</h4>
					</a>
					<div class="modal fade" id="LAHNAP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">LAHNAP</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/dining/LAHNAP.jpg"/>
									<h3>Lahar Napkins</h3>
									<p>Handwoven cotton napkins featuring rolled edges. Bright blue canvas with white dobby pom details. Designed in Brooklyn.</p>
									<p>Set of two, napkin ring not included.</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#LAHPLC">
						<img class="img-responsive" src="./src/img/dining/LAHPLC.jpg"/>
						<h4>Lahar Placemats</h4>
					</a>
					<div class="modal fade" id="LAHPLC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">LAHPLC</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/dining/LAHPLC.jpg"/>
									<h3>Lahar Placemats</h3>
									<p>Handwoven ribbed cotton placemats featuring fringed edges and reversible dobby pom poms.<p/>
									<p>Set of two.<p/>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#NATNAP">
						<img class="img-responsive" src="./src/img/dining/NATNAP.jpg"/>
						<h4>Leather Napkin Rings</h4>
					</a>
					<div class="modal fade" id="NATNAP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">NATNAP</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/dining/NATNAP.jpg"/>
									<h3>Leather Napkin Rings</h3>
									<p>Vegetable-tanned leather napkin rings, embossed with the New Market Goods logo. Perfect for keeping pesky tabletop textiles in line.</p>
									<p>Set of two.<p/>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- TABLE RUNNERS -->
	<div class="row">
		<div class="col-md-4">
			<h3 class="product-title">Table Runners</h3>
			<p>Designed in San Francisco. Handwoven from 100% cotton in Bangladesh.</p>
			<div class="table-responsive table-product">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Styles</th>
							<th></th>
							<th><a href="#" data-toggle="tooltip" title="Wholesale Price">WSP</a></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Table Runners</td>
							<td>14 &times; 90&rdquo;</td>
							<td><sup>$</sup>24<sup>.00</sup></td>
						</tr>
					</thead>
				</table>
				<table class="table table-hover">
					<thead>
						<tr>
							<th><a href="#" data-toggle="tooltip" title="Minimum quantity of a given style required for wholesale order (can combine sizes)">Min Qty</a></th>
							<th><a href="#" data-toggle="tooltip" title="Estimated production time required after an order is confirmed">Lead Time</a></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>3 / style</td>
							<td>4 Weeks</td>
						</tr>
					</thead>
				</table>
			</div>		
		</div>
		
		<div class="col-md-8">
			<div class="product-collection row">

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#SUNTAB">
						<img class="img-responsive" src="./src/img/dining/SUNTAB.jpg"/>
						<h4>Sundarban Table Runner</h4>
					</a>
					<div class="modal fade" id="SUNTAB" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">SUNTAB</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/dining/SUNTAB.jpg"/>
									<h3>Sundarban Table Runner</h3>
									<p>This vibrant cotton table runner has selvedge and tassel detailing. Chambray stripes on a natural field.</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#BALTAB">
						<img class="img-responsive" src="./src/img/dining/BALTAB.jpg"/>
						<h4>Bali Table Runner</h4>
					</a>
					<div class="modal fade" id="BALTAB" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">BALTAB</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/dining/BALTAB.jpg"/>
									<h3>Bali Table Runner</h3>
									<p>The beautiful ecru and neutral stripes of the Bali table runner were inspired by the rippled sand beaches of the Bangladeshi coastline. Handwoven from 100% cotton, featuring tassels and selvedge detailing. The textured ribbing makes this tabletop textile sturdy enough for any savory meal, with subtle tones to compliment most place settings.</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#BALTAB">
						<img class="img-responsive" src="./src/img/dining/LAHTAB.jpg"/>
						<h4>Lahar Table Runner</h4>
					</a>
					<div class="modal fade" id="LAHTAB" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
									<h5 class="modal-title" id="myModalLabel">LAHTAB</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/dining/LAHTAB.jpg"/>
									<h3>Lahar Table Runner</h3>
									<p>This vibrant cotton table runner has reversible pom-pom tassel detailing. In rich cobalt blue, it’s sure to brighten any table setting.</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>
