<div role="tabpanel" class="tab-pane fade" id="Bath">
	<div class="row">
		<div class="col-md-4">
			<h3 class="product-title">Shower Curtains</h3>
			<h4>...</h4>
			<p>Designed in Brooklyn. Handwoven from 100% cotton in Bangladesh.</p>
			<div class="table-responsive table-product">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Sizes</th>
							<th></th>
							<th><a href="#" data-toggle="tooltip" title="Wholesale Price">WSP</a></th>
							<th><a href="#" data-toggle="tooltip" title="Recommended Retail Price">RRP</a></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="td-siz">72" x 72"</td>
							<td></td>
							<td><sup>$</sup>26<sup>.00</sup></td>
							<td><sup>$</sup>52<sup>.00</sup></td>
						</tr>
					</thead>
				</table>
				<table class="table table-hover">
					<thead>
						<tr>
							<th><a href="#" data-toggle="tooltip" title="Minimum quantity of a given style required for wholesale order (can combine sizes)">Min Qty</a></th>
							<th><a href="#" data-toggle="tooltip" title="Estimated production time required after an order is confirmed">Lead Time</a></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>2 / style</td>
							<td>4 Weeks</td>
						</tr>
					</thead>
				</table>
			</div>	
		</div>
		<div class="col-md-8">
			<div class="product-collection row">

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#MALSHO">
						<img class="img-responsive" src="./src/img/bath/MALSHO.jpg"/>
						<h4>Malibagh</h4>
					</a>
					<div class="modal fade" id="MALSHO" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h5 class="modal-title" id="myModalLabel">MALSHO</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/coverlets/MALSHO.jpg"/>
									<h3>Malibagh Shower Curtain</h3>
									<h4>72 x 72&rdquo;</h4>
									<p>...</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product col-xs-6 col-sm-4">
					<a class="modal-button" data-toggle="modal" data-target="#DHASHO">
						<img class="img-responsive" src="./src/img/bath/DHASHO.jpg"/>
						<h4>Dhanmondi</h4>
					</a>
					<div class="modal fade" id="DHASHO" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h5 class="modal-title" id="myModalLabel">DHASHO</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/coverlets/DHASHO.jpg"/>
									<h3>Dhanmondi Shower Curtain</h3>
									<h4>72 x 72&rdquo;</h4>
									<p>...</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
