<div role="tabpanel" class="tab-pane fade" id="Tabletop">
	<div class="row">
		<div class="col-md-4">
			<h3 class="product-title">Tabletop</h3>
			<h4>Add some texture to your table with our cotton napkins and placemats, featuring fringe and selvedge details. Grab matching pairs, or mix it up!</h4>
			<p>Designed in San Francisco. Handwoven from 100% cotton in Bangladesh.</p>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Styles</th>
							<th></th>
							<th><a href="#" data-toggle="tooltip" title="Wholesale Price">WSP</a></th>
							<th><a href="#" data-toggle="tooltip" title="Recommended Retail Price">RRP</a></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="td-siz">Napkins (pair)</td>
							<td>18 x 18"</td>
							<td>$12</td>
							<td>$24</td>
						</tr>
						<tr>
							<td class="td-siz">Placemats (pair)</td>
							<td>14 x 19"</td>
							<td>$14</td>
							<td>$28</td>
						</tr>
					</thead>
				</table>
				<table class="table table-hover">
					<thead>
						<tr>
							<th><a href="#" data-toggle="tooltip" title="Minimum quantity of a given style required for wholesale order (can combine sizes)">Min Qty</a></th>
							<th><a href="#" data-toggle="tooltip" title="Estimated production time required after an order is confirmed">Lead Time</a></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>2 / style</td>
							<td>4 Weeks</td>
						</tr>
					</thead>
				</table>
			</div>		
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-4">
					<a data-toggle="modal" data-target="#BANNAP">
						<img class="img-responsive" src="./src/img/dining/BANNAP.jpg"/>
						<h4>Bandarban Napkins</h4>
						<h5>18" x 18" (pair)</h5>
					</a>
					<div class="modal fade" id="BANNAP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h5 class="modal-title" id="myModalLabel">BANNAP</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/dining/BANNAP.jpg"/>
									<h4>Bandarban Napkins</h4>
									<h5>18" x 18" (pair)</h5>
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<a data-toggle="modal" data-target="#DHASHO">
						<img class="img-responsive" src="./src/img/dining/DHASHO.jpg"/>
						<h4>Dhanmondi Shower Curtain</h4>
						<h5>18" x 18" (pair)</h5>
					</a>
					<div class="modal fade" id="DHASHO" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h5 class="modal-title" id="myModalLabel">DHASHO</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/dining/DHASHO.jpg"/>
									<h4>Dhanmondi Shower Curtain</h4>
									<h5>18" x 18" (pair)</h5>
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="col-md-7">
			<div data-accent_color="767676" data-background_color="ffffff" data-button_background_color="7fb466" data-button_text_color="ffffff" data-cart_button_text="Cart" data-cart_title="Order Request" data-cart_total_text="Total" data-checkout_button_text="Place Request" data-discount_notice_text="Shipping and discount codes are added at checkout." data-embed_type="cart" data-empty_cart_text="Your cart is empty." data-shop="new-market-goods.myshopify.com" data-sticky="true" data-text_color="000000"></div>
			<div data-background_color="ffffff" data-button_background_color="7fb466" data-button_text_color="ffffff" data-buy_button_out_of_stock_text="Out of Stock" data-buy_button_product_unavailable_text="Unavailable" data-buy_button_text="Add" data-collection_handle="wholesale-tabletop" data-display_size="compact" data-embed_type="collection" data-has_image="true" data-next_page_button_text="Next page" data-product_handle="" data-product_modal="true" data-product_name="" data-product_title_color="000000" data-redirect_to="modal" data-shop="new-market-goods.myshopify.com"></div>
			<script type="text/javascript">document.getElementById('ShopifyEmbedScript') || document.write('<script type="text/javascript" src="https://widgets.shopifyapps.com/assets/widgets/embed/client.js" id="ShopifyEmbedScript"><\/script>');</script>
		</div>
	</div>
</div>