<div role="tabpanel" class="tab-pane fade" id="Tabletop">
	<div class="row">
		<div class="col-md-4">
			<h3 class="product-title">Tabletop</h3>
			<h4>Add some texture to your table with our cotton napkins and placemats, featuring fringe and selvedge details. Grab matching pairs, or mix it up!</h4>
			<p>Designed in San Francisco. Handwoven from 100% cotton in Bangladesh.</p>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Styles</th>
							<th></th>
							<th><a href="#" data-toggle="tooltip" title="Wholesale Price">WSP</a></th>
							<th><a href="#" data-toggle="tooltip" title="Recommended Retail Price">RRP</a></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="td-siz">Napkins (pair)</td>
							<td>18 x 18"</td>
							<td>$12</td>
							<td>$24</td>
						</tr>
						<tr>
							<td class="td-siz">Placemats (pair)</td>
							<td>14 x 19"</td>
							<td>$14</td>
							<td>$28</td>
						</tr>
					</thead>
				</table>
				<table class="table table-hover">
					<thead>
						<tr>
							<th><a href="#" data-toggle="tooltip" title="Minimum quantity of a given style required for wholesale order (can combine sizes)">Min Qty</a></th>
							<th><a href="#" data-toggle="tooltip" title="Estimated production time required after an order is confirmed">Lead Time</a></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>2 / style</td>
							<td>4 Weeks</td>
						</tr>
					</thead>
				</table>
			</div>		
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-4">
					<a class="modal-button" data-toggle="modal" data-target="#BANNAP">
						<img class="img-responsive" src="./src/img/dining/BANNAP.jpg"/>
						<h4>Bandarban Napkins</h4>
					</a>
					<div class="modal fade" id="BANNAP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h5 class="modal-title" id="myModalLabel">BANNAP</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/dining/BANNAP.jpg"/>
									<h3>Bandarban Napkins</h3>
									<h4>18" x 18" (pair)</h4>
									<h4>$12.00 WSP</h4>
									<p>Handwoven cotton napkins featuring fringed edges. Chambray red stripes on a blue field. Designed in San Francisco.</p>
									<p>Set of two, napkin ring not included.</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<a class="modal-button" data-toggle="modal" data-target="#BANPLC">
						<img class="img-responsive" src="./src/img/dining/BANPLC.jpg"/>
						<h4>Bandarban Placemats</h4>
					</a>
					<div class="modal fade" id="BANPLC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h5 class="modal-title" id="myModalLabel">BANPLC</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/dining/BANPLC.jpg"/>
									<h3>Bandarban Placemats</h3>
									<h4>19" x 14" (pair)</h4>
									<h4>$14.00 WSP</h4>
									<p>Handwoven cotton napkins featuring fringed edges. Chambray red stripes on a blue field. Designed in San Francisco.<br/>—<br/>Set of two, napkin ring not included.<br/>—<br/>Materials<br/>Made from handwoven 100% cotton.<br/>—<br/>Dimensions<br/>Placemats measure 18 x 18"</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<a class="modal-button" data-toggle="modal" data-target="#SUNNAP">
						<img class="img-responsive" src="./src/img/dining/SUNNAP.jpg"/>
						<h4>Sundarban Napkins</h4>
					</a>
					<div class="modal fade" id="SUNNAP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h5 class="modal-title" id="myModalLabel">SUNNAP</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/dining/SUNNAP.jpg"/>
									<h3>Sundarban Napkins</h3>
									<h4>18" x 18" (pair)</h4>
									<h4>$12.00 WSP</h4>
									<p>Handwoven cotton napkins featuring fringed edges. Chambray red stripes on a blue field. Designed in San Francisco.</p>
									<p>Set of two, napkin ring not included.</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="col-md-4">
					<a class="modal-button" data-toggle="modal" data-target="#SUNPLC">
						<img class="img-responsive" src="./src/img/dining/SUNPLC.jpg"/>
						<h4>Sundarban Placemats</h4>
					</a>
					<div class="modal fade" id="SUNPLC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h5 class="modal-title" id="myModalLabel">SUNPLC</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/dining/SUNPLC.jpg"/>
									<h3>Sundarban Placemats</h3>
									<h4>19" x 14" (pair)</h4>
									<h4>$14.00 WSP</h4>
									<p>Handwoven cotton napkins featuring fringed edges. Chambray red stripes on a blue field. Designed in San Francisco.<br/>—<br/>Set of two, napkin ring not included.<br/>—<br/>Materials<br/>Made from handwoven 100% cotton.<br/>—<br/>Dimensions<br/>Placemats measure 18 x 18"</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<a class="modal-button" data-toggle="modal" data-target="#RASNAP">
						<img class="img-responsive" src="./src/img/dining/RASNAP.jpg"/>
						<h4>Rasmi Napkins</h4>
					</a>
					<div class="modal fade" id="RASNAP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h5 class="modal-title" id="myModalLabel">RASNAP</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/dining/RASNAP.jpg"/>
									<h3>Rasmi Napkins</h3>
									<h4>18" x 18" (pair)</h4>
									<h4>$12.00 WSP</h4>
									<p>Handwoven cotton napkins featuring fringed edges. Color-blocked baby blue, pink, and red tones. Designed in Brooklyn.</p>
									<p>Set of two, napkin ring not included.</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<a class="modal-button" data-toggle="modal" data-target="#LAHNAP">
						<img class="img-responsive" src="./src/img/dining/LAHNAP.jpg"/>
						<h4>Lahar Napkins</h4>
					</a>
					<div class="modal fade" id="LAHNAP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h5 class="modal-title" id="myModalLabel">LAHNAP</h5>
								</div>
								<div class="modal-body">
									<img class="img-responsive" src="./src/img/dining/LAHNAP.jpg"/>
									<h3>Lahar Napkins</h3>
									<h4>18" x 18" (pair)</h4>
									<h4>$12.00 WSP</h4>
									<p>Handwoven cotton napkins featuring rolled edges. Bright blue canvas with white dobby pom details. Designed in Brooklyn.</p>
									<p>Set of two, napkin ring not included.</p>
									<p>Made from handwoven 100% cotton.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>