/*body {
    background-image: url(./src/img/background.svg), none;
	background: url("./src/img/background.svg");
    background-repeat: repeat-x;
    background-size:20px 20px;
}*/

.logo {
	background: url(./src/img/background.svg) repeat-x top left;
	background-size: 20px 20px;
}

.header-svg {
	background-repeat: repeat-x;
    background-image: url("./src/img/background.svg");
    width: 20px;
}

.product-thumb {
	width: 60px;
}
.product-section {
	border-top: 4px solid black;
	margin-top: 1.5em;
	padding-top: .125em;
}
.product-section h4 {
	font-weight: 600;
	/*margin-left: -15px;*/
}
.product-section th {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
}
.product-section .td-sku, .product-section .td-siz {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  /*font-size: 11px;*/
}
.product-section .table-responsive {
	margin-right: -15px;
}
@media (min-width: 767px) {
	.product-section h4 {
		margin-left: -15px;
	}
}

.panel-info {
	border-color: #e2e2e2;
	background-color: #f1f1f1;
}
.panel-info > .panel-heading {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}