.product-thumb {
	width: 60px;
}
.product-section {
	border-top: 4px solid black;
	margin-top: 1.5em;
	padding-top: .125em;
}
.product-section h2 {
	font-weight: 600;
	/*margin-left: -15px;*/
}
.product-section th {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
}
.product-section .td-sku, .product-section .td-siz {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  /*font-size: 11px;*/
}
.product-section .table-responsive {
	margin-right: -15px;
}
@media (min-width: 767px) {
	.product-section h2 {
		margin-left: -15px;
	}
}