.product-thumb {
	width: 60px;
}

.product-section {
	border-top: 3px solid black;
	margin-top: 2em;
}
.product-section h2 {
	font-weight: 600;
	/*margin-left: -15px;*/
}
.product-section .table-responsive {
	margin-right: -15px;
}
@media (min-width: 767px) {
	.product-section h3 {
		margin-left: -15px;
	}
}