body {
    /*background-image: url("./src/img/background.gif");*/
    /*background-repeat: repeat-x;*/
    /*background-size: 20px;*/
    border-top: 12px solid #ffc600;
}

/*#content, html, body {
    height: 98%;
}*/
#left {
    float: left;
    width: 50%;
    background: red;
    height: 100%;
    overflow: scroll;
}
#right {
    float: left;
    width: 50%;
    background: blue;
    height: 100%;
    overflow: scroll;
}

.product-thumb {
	width: 60px;
}
.product-section {
	border-top: 4px solid black;
	margin-top: 1.5em;
	padding-top: .125em;
}
.product-section h4 {
	font-weight: 600;
	/*margin-left: -15px;*/
}
.product-section th {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
}
.product-section .td-sku, .product-section .td-siz, .panel-heading h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  /*font-size: 11px;*/
}
.product-section .table-responsive {
	margin-right: -15px;
}
@media (min-width: 767px) {
	.product-section h4 {
		margin-left: -15px;
	}
}

.panel {
	border: 0px solid transparent;
	border-radius: 0px;
}
.panel-body {
	padding: 25px;
}
.panel-footer {
	padding: 0 20px 20px;
}
.panel-info, .panel-footer {
	border: none;
	background-color: #6ec3fa;
}
.panel-info > .panel-heading {
	color: #111;
	background-color: #4faaf7;;
	border: none;
}

#buyer-submission {
	background-color: #f1f1f1;
	margin-top: 2em;
	padding: 2em 0 4em 0;
}
#buyer-info {
	border: 4px solid #dadada;
	padding: 20px 5% 30px;
	background-color: white;
}
.form-inline .form-sm {
	width: 60px;
}