body {
	padding-bottom: 6em;
}

@font-face {
  font-family: 'Circular Bold';
  src: url('https://cdn.shopify.com/s/files/1/0996/3444/t/9/assets/lineto-circular-bold.eot') format('eot'), url('https://cdn.shopify.com/s/files/1/0996/3444/t/9/assets/lineto-circular-bold.woff') format('woff'), url('https://cdn.shopify.com/s/files/1/0996/3444/t/9/assets/lineto-circular-bold.ttf') format('truetype');
}

/*p {
	font-size: 1.25em;
	padding-bottom: 1em;
}*/

@media (max-width: 550px){
	.nav > li:nth-child(3) {
		clear: both;
	}
}

@media (min-width: 768px){
	#intro-wholesale {
		padding-left: 5em;
		padding-right: 5em;
	}
	#product-section,
	#policy-section {
		padding-left: 4em;
		padding-right: 4em;
	}
}

.tab-button {
	background-color: #ffc600;
}

.primary-header {
	border-top: 10px solid #ffc600;
	background: #358df2;
	color: white;
	padding: 2em;
	margin-bottom: 2em;
}

#intro-linesheet h1, #intro-wholesale h1 {
	font-size: 3.5em;
	font-weight: 600;
	letter-spacing: 1px;
	margin-top: 0px;
}
#intro-linesheet h5, #intro-wholesale h5 {
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 0px;
}


td > img, td > a > img {
	width: 200px;
}
.table-product > tbody > tr > td:nth-child(1) {
	width: 200px;
}
.table-product > tbody > tr > td:nth-child(1), .table > tbody > tr > th:nth-child(1) {
	padding-left: 0px;
}



thead, #info-thead {
	border-top: 4px solid black;
	padding-top: .5em;
	margin-top: .875em;
}
/*.section-title h2 {
	font-size: 3em;
	font-weight: 700;
	padding: 1em 0 0.5em;
	text-transform: uppercase;
	letter-spacing: 4px;
}*/
.product-title, .section-title {
	font-size: 3em;
	font-weight: 700;
}

.section-title {
	border-bottom: 4px solid black;
	padding-bottom: .25em;
}

th {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 10px;
}
th > a, th > a:hover {
	text-decoration: none 			!important;
	text-decoration-color: none 	!important;
	color: inherit;
}
th > a:hover {
	cursor: pointer;
}

.td-pro h4 {
	font-weight: 600;
    margin-top: 0;
}
.td-sku, .td-siz, .panel-heading h3 {
	letter-spacing: 1px;
	font-weight: 600;
	/*font-size: 11px;*/
}
.td-sku, .panel-heading h3 {
	text-transform: uppercase;
}
.td-siz-num {
    font-size: 80%;
    font-weight: 400;
}

.panel {
	border: 0px solid transparent;
	border-radius: 0px;
}
.panel-body {
	padding: 25px;
}
.panel-footer {
	padding: 0 20px 20px;
}
.panel-info, .panel-footer {
	border: none;
	background-color: #6ec3fa;
}
.panel-info > .panel-heading {
	color: #111;
	background-color: #4faaf7;;
	border: none;
}

/*.form-sm {
	width: 60px;
}*/
.input-sm {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 0px;
}
.form-control {
	display: block;
	width: 100%;
	height: 30px;
	padding: 6px 10px 4px 10px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 0px solid #ccc;
	border-bottom: 2px solid #ccc;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 rgba(0, 0, 0, 0);
	box-shadow: inset 0 rgba(0, 0, 0, 0);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.order-table > .table > tbody > tr > td {
	padding: 2px;
}
.table > tbody > tr > td:nth-child(3) {
	padding-right: 0px;
}
td:nth-child(1) > .form-group > input {
	letter-spacing: 1px;
	text-transform: uppercase;
	width: 80px;
}
td:nth-child(2) > .form-group > input {
	letter-spacing: 1px;
	width: 60px;
}


/*BUTTON STYLING*/
.btn {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: 1px solid transparent;
	border-radius: 0px;
	color: #fff;
}
.btn-primary {
	color: #ee7802;
	background-color: #ffc600;
	border-bottom: 2px solid #ee7802;
}

.btn-primary a {
	color: #fff;
}
.btn-primary a:hover {
	text-decoration: none;
}
.btn-primary a:visited {
	color: #fff;
}

.btn-modal {
	padding: 0 !important;
	border: 0;
}
.modal-body {
	padding: 0;
}

ul.nav-tabs {
	margin-bottom: 2em;
}
.nav-tabs {
  border-bottom: 4px solid #f4f9fe;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -4px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 0;
}
.nav-tabs > li > a:hover {
  border-color: #f4f9fe;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #358df2;
  cursor: default;
  background-color: #fff;
  border-bottom: 4px solid #358df2;
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
  /*border-bottom-color: transparent;*/
}
.nav > li > a {
	color: #111;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
}
.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: #f4f9fe;
}

/*MODAL STYLING*/
.modal-body > img {
	position: relative;
	float: left;
	padding: 0 15px 15px;
	width: 70%;
	clear: both;
}
.modal-body > p:after {
	clear: both;
}
.modal-title {
	letter-spacing: 1px;
}
